.About {
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    color: white;
  }
  .header {
    background-color: gray;
  }
  h1 {
    color: red;
  }
  h3 {
      padding: 40px;
    border-bottom: 3px solid gray;
    margin-bottom: 20px;

  }

  h4 {
    font-size:
    35px;
    color: red;
  }
  h5{
      font-size: 25px;
  }