.desktop-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desktop-nav a {
    padding-top: 10px;
    text-decoration: none;
    color: #d93f51;
    font-size: 25px;
    font-weight: bolder;
}

.desktop-nav a:hover {
    color: white;
}