.hamburger {
    color: white;
    position: fixed;
    left: 0px;
    top: 20px;
}

.hamburger div {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 6px 12px;
    cursor: pointer;
    margin-left: 20px;
}

.exit {
    cursor: pointer;
}

.mobile-nav {
    position: fixed;
    left: 10px;
    top: 20px;
    text-align: left;
}