.hamburger {
    color: white;
    position: fixed;
    left: 0px;
    top: 20px;
}

.hamburger div {
    width: 32px;
    height: 5px;
    background-color: white;
    margin: 6px 12px;
    cursor: pointer;
    margin-left: 20px;
}

.exit {
    cursor: pointer;
    color: white;
    font-size: 30px;
    padding-left: 10px;
}

.exit:hover {
    color: #000000;
}

.mobile-nav {
    position: fixed;
    left: 20px;
    top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #d93f51;
    background-color: rgba(227, 83, 79, 1);
    border-radius: 25px;
    width: 90vw;
    height: 90vh;

}
.mobile-nav a {
    color: white;
    padding: 10px;
    font-size: 30px;
}

.mobile-nav a:hover {
    color: black;
}