@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
html {
  background-color: #362936;
}
body {
  background-color: #362926;
  font-family: 'Nunito Sans', sans-serif;
}
.App {
  background-color: #362926;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}
.main-title {
  color: #ffffff;
  font-size: 36px;
}
header a{
  text-decoration: none;
}
.logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
}